<section class=" text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">List of items</h1>
            <a asp-action="Create" class="btn btn-outline-secondary">Create</a>
        </div>
    </div>
</section>

<div class="album py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 item-list">

    </div>
</div>

<script>

    

</script>