<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-utilities.css" />

</head>
<body>

    <div class="container mt-5">
        @RenderBody()
    </div>

    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/site/api.js"></script>
    <script src="~/js/site/page.js"></script>

    <script src="https://kit.fontawesome.com/8c57d5d3d6.js" crossorigin="anonymous"></script>

</body>
</html>
